


<p-table  [tableStyle]="{ 'min-width': '50rem' }"   [showCurrentPageReport]="true"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Body</th>
          <th>UserId</th>
          <th>Tags</th>
          <th>Reaction</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.body }}</td>
          <td>{{ product.userId }}</td>
          <td>{{ product.tags }}</td>
          <td>{{ product.reactions }}</td>
      </tr>
  </ng-template>
</p-table>






<router-outlet></router-outlet>
